* {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  height: 50px;
  width: auto;
  background-color: rgb(152, 152, 152);
}
header {
  margin: 50px auto;
  width: 400px;
  height: 50px;
  background-color: rgb(152, 152, 152);
}
.hero-section {
  height: 600px;
}
.left {
  float: left;
  background-color: rgb(152, 152, 152);
  height: 600px;
  margin-right: 7px;
  width: 49%;
}
.right {
  float: right;
  background-color: rgb(152, 152, 152);
  height: 600px;
  width: 49%;
}
.header1 {
  margin: 50px 200px;
  height: 50px;
  background-color: rgb(152, 152, 152);
}
.square {
  background-color: rgb(152, 152, 152);
  float: left;
  height: 250px;
  width: 23%;
  margin-right: 2%;
}
.square:nth-child(4n) {
  margin-right: 0;
}
.container-1,
.container-2 {
  margin-bottom: 30px;
  margin-left: 14%;
  margin-right: 14%;
}

.container-1::after,
.container-2::after {
  content: "";
  display: table;
  clear: both;
}

.container-3 {
  height: 700px;
  background-color: rgb(152, 152, 152);
}
.sub-container {
  background-color: rgb(255, 255, 255);
  float: left;
  width: calc(33.33% - 33.33px);
  height: 600px;
  margin: 30px 16.66px;
}
.container-3:first-child {
  margin-left: 30px;
}
.miniheader {
  margin: 30px;
  height: 50px;
  background-color: rgb(152, 152, 152);
}
.content {
  margin: 30px;
  height: 210px;
  background-color: rgb(152, 152, 152);
}
.container-4 {
  height: 700px;
  margin-bottom: 100px;
}
.element {
  margin: 20px 400px;
  height: 100px;
  background-color: rgb(152, 152, 152);
}
.element1 {
  margin: 20px 400px;
  height: 300px;
  background-color: rgb(152, 152, 152);
}
.sub-container1 {
  margin: 20px 400px;
  height: 200px;
}
.sub-element-left,
.sub-element-right {
  height: 80px;
  background-color: rgb(152, 152, 152);
  width: calc(50% - 10px);
}
.sub-element-left {
  float: left;
  margin-right: 20px;
}
.sub-element-right {
  float: right;
  margin-left: 0;
}
.container-5 {
  background-color: rgb(152, 152, 152);
  height: 400px;
}
.footer-element-left,
.footer-element-right {
  height: 300px;
  width: 46%;
  margin: 50px 2%;
  background-color: rgb(255, 255, 255);
}
.footer-element-left {
  float: left;
}
.footer-element-right {
  float: right;
}
